{
    "compiler": "modular",
    "name": "QNR-play",
    "version": "0.0.0",
    "dependencies": {},
    "alias": {
        "com":"./src/js/common"
    },
    "export": [
        "css/font-awesome.min.css",
        "css/action/action.css",
        "css/actionlist/action-list.css",
        "css/index/index.css",
        "css/userinfo/userinfo.css",
        "css/create/createActivity.css",
        "js/common/jex.js",
        "js/common/XControl.js",
        "js/index.js",
        "js/list.js",
        "js/action.js",
        "js/usercenter.js",
        "js/create.js"
    ]
}